/********************
 *		CANVAS		*
 ********************/
#canvas-panel 
{
	width: 700px;
	height: 450px;
	position: relative;
	margin: 0px auto;
}

#drawingCanvas, #overlay 
{
	position: absolute;
}

#drawingCanvas
{
	background: white;
	z-index: 1;
}

#overlay {
	background: rgba(0, 0, 0, 0);
	z-index: 2;
}

/************************ 
 *		TOOLS PANEL		*
 ************************/
#tools-panel
{
    width: 700px;
    height: 62px;
    margin: 0px auto;
    background: #dfe9f5; /* fallback */
	background: -moz-linear-gradient(top, #dfe9f5, #dce7f5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfe9f5), to(#dce7f5));
}

#tools-panel *
{
	font-size: 8px;
    font-weight: bold;
    text-align: center;
    color: black;
}

#tools-panel ul
{
    list-style-type: none;
}

#tools-panel .tool-panel-button
{
	float: left;
    height: 54px;
    width: 54px;    
    position: relative;
    margin: 2px;
}

#tools-panel .tool-button
{	
    padding: 2px;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}

#tools-panel .selected
{
	border-color: #c29b29;
	background: #ffce71; /* fallback */
	background: -moz-linear-gradient(top, #ffdca0, #ffd181 40%, #ffc45d 45%, #ffd47d 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffdca0), color-stop(40%, #ffd181), color-stop(45%, #ffc45d), color-stop(100%, #ffd47d));
}

#tools-panel .tool-button:hover 
{
	border-color: #ffb700;
    background: #dfe9f5; /* fallback */
    background: -moz-linear-gradient(top, #fdecda, #fddeb8 40%, #ffce68 45%, #ffe78d 90%, #fff7b0, 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdecda), color-stop(40%, #fddeb8), color-stop(45%, #ffce68), color-stop(90%, #ffe78d), color-stop(100%, #fff7b0));
}

#tools-panel .tool-panel-button:first-of-type
{
    margin-left: 5px;
}

#tools-panel .tool-panel-button:last-of-type
{
    margin-right: 5px;
}

#tools-panel p
{
    margin: 2px;
}

/********************************
 *		STROKE COLOUR TOOL		* 
 ********************************/
#stroke-colour
{
    background: black;
    display: block;
    height: 70%;
    width: 75%;
    margin: 0px auto;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#stroke-colour-picker
{
    position: absolute;
    overflow: hidden;
    top: -176px;
    z-index: 1000;
    height: 0px;
}

/******************************** 
 *		STROKE WIDTH TOOL		*
 ********************************/
#line-width
{
    background: black;
    display: block;
    height: 1px;
    width: 70%;
    margin: 15px auto;    
}

#line-width-picker
{
    position: absolute;
    overflow: hidden;
    top: -132px;
    z-index: 1000;
    width: 60px;
    height: 0px;    
    background: #dfe9f5;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#line-width-picker li
{
    width: 54px;
    height: 15px;
    margin: 0px auto;
}

#line-width-picker li:first-of-type
{
	margin-top: 5px;
}

#line-width-picker li:last-of-type
{
	margin-bottom: 5px;
}

#line-width-picker li *
{
    width: 75%;
    margin: 5px auto;
    background: black;
}