*
{
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: 'Schoolbell', serif;
}

body 	
{	
	background: #000;
	margin: 10px 50px;
}

.block
{
	display: block;
}

.fill
{
    width: 100%;
    height: 100%;    
}

.float
{
	display: inline;
	float: left;
	padding: 0px 10px
}

aside
{
	font-size: small;
}

#wrapper
{
	width: 800px;
	height: 650px;
	margin: 0px auto;
	padding: 20px 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#splash
{
	width: 800px;
	height: 650px;
	background-color: black;
	position: absolute;
	z-index: 1000;
}

#splash p
{
	font-size: 28px;
	margin: 40% 45%;
	position: absolute;
}

#splash img
{	
	width: 5%;
	margin: 47.5% 47.5%;
	position: absolute;
}